li{
	width: 220px;
	height: 200px;
	float: left;
	display: grid;
}

.loi{
	color: red;
	font-style: italic;
	width: 220px;
}

span{
	width: 220px;
	height: 200px;
	float: left;
}

li:nth-child(2n+1){
	background-color: red;
}

li:nth-child(2n){
	background-color: green;
}

span:nth-child(2n+1){
	background-color: red;
}

span:nth-child(2n){
	background-color: green;
}

@media only screen and (max-width: 320px) {
	span:nth-child(2n+1),li:nth-child(2n+1){
		background-color: red;
		width: 20px;
	}
	
	span:nth-child(2n),li:nth-child(2n){
		background-color: green;
		width: 30px;
	}
  }

  @media only screen and (max-width: 425px) and ( min-width: 320px){
	span:nth-child(2n+1),li:nth-child(2n+1){
		background-color: yellow;
		width: 20px;
	}
	
	span:nth-child(2n),li:nth-child(2n){	
		background-color: red;
		width: 50px;
	}
  }

  @media only screen and (max-width: 768px) and ( min-width: 425px){
	span:nth-child(2n+1),li:nth-child(2n+1){
		background-color: brown;
		width: 30px;
	}
	
	span:nth-child(2n),li:nth-child(2n){	
		background-color: yellow;
		width: 40px;
	}
  }

  @media only screen and (max-width: 992px) and ( min-width: 768px){
	span:nth-child(2n+1),li:nth-child(2n+1){
		background-color: yellow;
		width: 30px;
	}
	
	span:nth-child(2n),li:nth-child(2n){	
		background-color: purple;
		width: 40px;
	}
  }

  @media only screen and ( max-width: 1200px) and ( min-width: 992px) {
	span:nth-child(2n+1),li:nth-child(2n+1){
		background-color: purple;
		width: 50px;
	}
	
	span:nth-child(2n),li:nth-child(2n){	
		background-color: pink;
		width: 100px;
	}
  }