#divTong{
   width: 100%;
   height: 300px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 19px;
}

.danhSach{
   float: left;
   color: gray;
   font-size: 13px;
}

ul{
   list-style-image: url(Image/tichXanh1.png);
}
li{
   padding-bottom: 10px;
   padding-right: 40px;
   font-size: 17px;
   margin-left: -19px;
}

#doanVan{
   line-height: 1.5;
}