#divTong{
    width: 1000px;
    height: 400px;
    /* background-color: pink; */
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.img{
    height: 60px;
}

.trai{
    left: 0;
    float: left;
    width: 50%;
}

.phai{
    right: 0;
    width: 50%;
    float: left;
}

#heading{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 184, 54);

}

p{
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(111, 111, 111);
}