#container {
    position: relative;
    padding: 0 5% 0 5%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.head2 {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 30% 20% 50%;
}

.content {
    display: grid;
    grid-template-columns: 30% 20% 50%;
}

.info {
    display: grid;
    grid-template-columns: 20% 80%;
}

.icon,
.text_info,
.input_info {
    display: grid;
    grid-template-columns: auto;
    color: rgb(132, 132, 132);
}

.icon,
.text_info {
    margin-bottom: 200px;
}

span,
i {
    width: 100%;
    padding: 10px 0 10px 0;
}

.icon {
    font-size: 30px;
    color: rgb(132, 132, 132);
}

input,
textarea {
    border: 1px rgb(191, 191, 191) solid;
}

.item_input,
.item_message {
    margin-bottom: 20px;
    border-radius: 2px;
}

.item_input {
    height: 30px;
}

#button_send {
    width: 120px;
    height: 30px;
    color: white;
    background-color: rgb(8, 177, 182);
    border: 0;
    border-radius: 2px;
}

#button_send:hover {
    background-color: rgb(48, 229, 235);
    cursor: pointer;
}

::placeholder {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(183, 183, 183);
}

#line_head {
    background-color: orange;
    border: 2px solid orange;
    width: 70px;
    left: 0;
    /* position: sticky; */
    margin-top: -10px;
    margin-left: 0;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

#headRepon {
    display: none;
    color: black;
}

@media only screen and (max-width: 720px) {
    .content {
        grid-template-columns: auto
    }

    #headRepon {
        display: block;
    }

    #headNonRepon {
        display: none;
    }

    #container {
        padding: 5%;
    }

    .icon,
    .text_info {
        margin-bottom: 0;
    }

    #button_send {
        position: absolute;
        bottom: 0;
        right: 5%;
    }
}